# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives:**

- Some of the commonly used libraries used by Data Scientists include
- Some of the popular languages that Data Scientists use are:
- Data Science Tools

#### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. C++

#### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-Learn

| Data Science Tools | 
| -------- |
| Weka |
| Apache Hadoop|
| TensorFlow|
| MongoDB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
a = 10
b = 15
result = a*b
print(f"Result is: {result}")

Result is: 150

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

#### This will convert 200 minutes to hours by diving by 60

In [14]:
total_minutes = 200

hours = total_minutes // 60

minutes = total_minutes % 60

time = "{}:{}".format(hours, minutes)

print(time)

3:20

## Author

Veli Ozcan